.cart-page .heading {
    color: #333;
    font-size: 40px;
    font-weight: 300;
}

.cart-page .heading span {
    color: #ea1917;
}

.cart-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
}

.cart-items {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
}

.cart-items .clear-all {
    float: right;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    gap: 20px;
}

.cart-item .sku {
    font-size: 14px;
}

.cart-item .stock {
    color: #287d00;
}

.cart-item .name a:hover {
    text-decoration: underline;
}

.cart-item .price {
    font-size: 30px;
    margin-top: 10px;
}

.cart-item .qty input {
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #333;
    width: 70px;
    text-align: center;
    font-size: 20px;
}

.cart-item .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-item .btn-remove {
    background: transparent url("../../assets/images/icon-trash.svg") no-repeat;
    border: none;
    font-size: 0;
    height: 25px;
    width: 25px;
    display: block;
    cursor: pointer;
}

.cart-page .empty {
    padding: 20px;
    border-radius: 20px;
    font-size: 28px;
    color: #333;
}

.cart-page .empty .btn-red {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0 10px;
    display: inline-block;
}

.cart-summary {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}

.cart-summary ul {
    margin: 5px 0 20px;
}

.cart-summary ul li {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.cart-summary ul li.grand-total {
    border-bottom: 1px solid #f0ece4;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.cart-summary .btn {
    display: block;
    width: 100%;
    font-size: 22px;
    padding: 14px 0;
    border-radius: 40px;
    margin: 10px 0 15px;
}

.cart-summary .btn.disabled {
    background-color: #fff;
    border-color: currentcolor;
    color: #646464;
    cursor: default;
    opacity: .4;
    pointer-events: none;
}

.cart-summary .text {
    text-align: right;
}

@media (min-width: 768px) {
    .cart-page .heading {
        font-size: 50px;
    }

    .cart-wrap {
        gap: 30px;
    }

    .cart-items {
        width: calc(68% - 30px);
    }

    .cart-summary {
        width: 32%;
    }
}