.categories {
    padding: 0;
    margin-bottom: 30px;
}

.categories li {
    width: 49%;
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 10px;
}

.categories li a {
    color: #333;
    text-decoration: underline;
}

.categories li a:hover {
    color: #000;
}

@media (min-width: 768px) {
    .categories li {
        width: 33%;
    }
}

@media (min-width: 1360px) {
    .categories li {
        width: 24%;
    }
}