.product-list.grid ul {
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.product-list.grid ul li {
    width: 100%;
    padding: 20px 20px 30px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
}

.product-list.grid ul li img {
    max-width: 80%;
    margin: 10px auto 15px;
    display: block;
}

.product-list.grid .sku {
    font-size: 13px;
}

.product-list.grid .name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    min-height: 50px;
}

.product-list.grid .name a {
    font-size: 22px;
    line-height: 1.2;
}

.product-list.grid .name a:hover {
    text-decoration: underline;
}

.product-list.grid .product-rating {
    margin: 5px 0;
}

.product-list.grid .price {
    font-size: 24px;
}

.product-list.grid .price span {
    font-size: 15px;
    display: block;
}

.product-list.grid .price .gray {
    color: #646464;
}

.product-list.grid .outofstock {
    font-size: 18px;
    margin-top: 5px;
}

.product-list.grid .cta-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.product-list.grid .cta-wrap .btn {
    width: calc(50% - 5px);
    display: inline-block;
}

.product-list.list {
    margin-bottom: 40px;
}

.product-list.list ul li {
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-list.list img {
    width: 160px;
}

.product-list.list .sku {
    font-size: 15px;
}

.product-list.list .info {
    font-size: 30px;
}

.product-list.list .price {
    color: #333;
}

.product-list.list .price span {
    color: #000;
    font-size: 16px;
    padding-left: 10px;
}

.product-list.list .cta-wrap {
    margin-left: auto;
}

.product-list.list .cta-wrap .btn {
    display: block;
    min-width: 150px;
    margin: 15px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .product-list.list ul li {
        flex-wrap: wrap;
    }

    .product-list.list ul li .cta-wrap {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .product-list.grid ul {
        column-gap: 20px;
    }

    .product-list.grid ul li {
        width: calc(33% - 12px);
    }
}

@media (min-width: 1360px) {
    .product-list.grid ul {
        column-gap: 20px;
    }

    .product-list.grid ul li {
        width: calc(20% - 16px);
    }
}