.header-wrapper {
    border-bottom: 1px solid #cbc8c2;
}

.header-wrapper .container {
    display: flex;
    align-items: center;
}

.menu ul {
    margin: 0;
}

.menu ul li.level0 {
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
    padding: 25px 0 20px;
}

.menu ul li.level0 > a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    display: block;
}

.menu ul li.level0 > a:hover {
    border-color: #ea1917;
}

.menu .level0 .mega-menu {
    display: none;
    left: 0;
    bottom: 0;
    top: 78px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 11;
}

.mega-menu .mega-menu-container {
    background-color: #f0ece4;
    border-bottom: 1px solid #cbc8c2;
    padding: 20px 0;
}

.menu .level0 .mega-menu a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.menu .level0 .mega-menu a:hover {
    text-decoration: underline;
}

.menu .level0:hover .mega-menu {
    display: block;
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 18px;
}

.search-form input {
    border-radius: 15px;
    padding: 8px 15px 8px 30px;
    border: none;
    background: #e6e1d6 url("../../../assets/images/ic-search.svg") 10px center no-repeat;
    background-size: 15px;
    width: 250px;
}

@media (max-width: 768px) {
    .search-form input {
        width: 150px;
    }
}

.account-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.ic-account {
    height: 30px;
    width: 24px;
    display: block;
    background: transparent url("../../../assets/images/icon-account.svg") center no-repeat;
}

.ic-account.active {
    background-image: url("../../../assets/images/icon-account-black.svg");
}

.account-wrapper:hover .ic-account {
    background-image: url("../../../assets/images/icon-account-red.svg");
}

.account-wrapper:hover .ic-account.active {
    background-image: url("../../../assets/images/icon-account-filled-red.svg");
}

.account-wrapper ul {
    margin: 0;
    display: none;
    background: #fff;
    border-radius: 10px;
    padding: 8px 0;
    position: absolute;
    right: -25px;
    top: 35px;
    min-width: 170px;
    z-index: 100;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 .5rem .75rem rgba(0, 0, 0, .06);
    box-shadow: 0 .5rem .75rem rgba(0, 0, 0, .06);
}

.account-wrapper ul:before {
    background-color: #fff;
    border-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 29px;
    top: -5px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 10;
}

.account-wrapper:hover ul {
    display: block;
}

.account-wrapper ul li {
    font-size: 14px;
    margin: 5px 0;
    padding: 0 17px;
}

.account-wrapper ul li.welcome {
    border-bottom: 1px solid #cbc8c2;
    padding-bottom: 7px;
    margin-bottom: 9px;
}

.minicart {
    position: relative;
    padding-top: 5px;
}

.ic-cart {
    height: 24px;
    width: 24px;
    display: inline-block;
    background: transparent url("../../../assets/images/icon-cart.svg") center no-repeat;
}

.minicart:hover .ic-cart {
    background-image: url("../../../assets/images/icon-cart-red.svg");
}

.minicart .count {
    background-color: #ea1917;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 0 2px;
    height: 14px;
    min-width: 14px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -3px;
}
