.footer-wrapper {
    margin-top: auto;
    border-top: 1px solid #cbc8c2;
    padding: 20px 0 0;
    background: #e6e1d6;
    color: #4a4946;
    text-align: left;
}

.footer-wrapper .copyright {
    background: #333;
    color: #cbc8c2;
    padding: 20px 0;
}
